<!DOCTYPE html>

<html lang ="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Doctor Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg accent-blue fixed-top ">
    <div class="container">
        <a class="navbar-brand" th:href="'/'+${username}">
            <img th:src="@{/images/heart-rate.png}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="'/'+${username}">User profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/appointments/' + ${username}">Appointments</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statistics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="'/patientsWithDiagnosis/' + ${username}">Diagnosis</a>
                        <a class="dropdown-item" th:href="'/gpOfPatients/' + ${username}">GP</a>
                        <a class="dropdown-item" th:href="'/totalAppointments/' + ${username}">All Appointments</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-12 my-3">
            <h1 class="display text-center accent-orange-color">Patient medical history</h1>
        </div>

        <div class="col-12">
            <div class="row mt-5">
                <div class="col-6">
                    <h3 class="display text-center accent-blue-color">Number of appointments of Patient </h3>
                </div>
                <div class="col-6">
                    <h3 class="display text-center accent-blue-color" th:text="${appointments.size()}"></h3>
                </div>

            </div>

            <div class="row">
                <div class="col-12">

                    <table th:if="${appointments.size()!=0}" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name of Patient</th>
                            <th scope="col">Date of Appointment</th>
                            <th scope="col">Diagnosis</th>
                            <th scope="col">Sick leave start date</th>
                            <th scope="col">Sick leave duration</th>



                        </tr>
                        </thead>
                        <th:block th:each="appointment : ${appointments}">
                            <tr th:if='${!appointment.getDiagnosis().equals("NOTSET")}'>
                                <td th:text="${appointment.patient.name}"></td>
                                <td th:text="${appointment.dateOfAppointment}"></td>
                                <td th:text="${appointment.diagnosis}"></td>
                                <td th:text="${appointment.sickLeaveStartDate}"></td>
                                <td th:text="${appointment.sickLeaveDays}"></td>

                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>

</body>

</html>
